
    <footer class="bg-dark text-white card-footer container-fluid">
     <div class=" p-4 pb-0 container-fluid">
       <section class="mb-4">
          <a class="btn btn-outline-light btn-floating me-3" href="https://twitter.com/alhelenb?ref_src=twsrc%5Etfw"role="button"
           ><i class="fab fa-twitter"></i></a> 
         <a class="btn btn-outline-light btn-floating me-3" href="https://linkedin.com/in/beniah-onyebueke
         " role="button"
           ><i class="fab fa-linkedin-in"></i
         ></a>
         <a class="btn btn-outline-light btn-floating  me-3" href="https://github.com/benifbond" role="button"
           ><i class="fab fa-github"></i
         ></a>
       </section>
     </div>
       Copyright © Beniah
     </div>
   </footer>